<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <form novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Username</ion-label>
        <ion-input name="username" type="text"  spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p class="ion-padding-start">
          Username is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input  name="password" type="password" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p  class="ion-padding-start">
          Password is required
        </p>
      </ion-text>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button  type="submit" expand="block">Login</ion-button>
      </ion-col>
      <ion-col>
        <ion-button  color="light" expand="block">Signup</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a routerLink="register">S'enregister</a>
      </ion-col>
      <ion-col>
        <ion-button (click)="saveUser()">Creer le compte</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
